<h1>To Do</h1>

<p> Here's what you have to do before you get any supper: </p>

<ul>
  <% @tasks.each() do |task| %>
    <li><%= task.description() %></li>
  <% end %>
</ul>

<p> Create a new task: </p>

<form action="/tasks" method="post">
  <label for="description">Describe What Must Be Done</label>
  <input id="description" name="description" type="text">

  <button type="submit">Do it!</button>
</form>
